---
variables:
  DOCKER_DRIVER: overlay2
  GIT_STRATEGY: clone
  GIT_SUBMODULE_STRATEGY: none
  CI_DEBUG_TRACE: "false"
  DOCKER_IMAGE: code.vandalsweb.com:5005/vandalsweb/builder-container-dind-for-molecule/dind-for-molecule:latest
  PIP_CACHE_DIR: "${CI_PROJECT_DIR}/.pip"

cache:
  paths:
    - ${PIP_CACHE_DIR}

image:
  name: ${DOCKER_IMAGE}
  entrypoint:
    - "/usr/bin/env"
    - "PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

stages:
  - tests

tests:
  stage: tests
  variables:
    VIRTUAL_ENV: fake
  before_script:
    - apk add --no-cache
      python3
      py-pip
      python3-dev
      gcc
      libc-dev
      libffi-dev
      openssl-dev
      linux-headers
      make
      git
      curl
  script:
    - make deps
    - make tests
